<% if @user.image.attached? %>
<%= image_tag  @user.image,style: "border-radius: 50%; width: 100px; height: 100px; object-fit:cover;" %>
<% end %>

<div class="namae">
<%= @user.name %>
</div>

<div class="deka_table">
    <div class="follow_table">
        <p><%= link_to @user.followings.count, user_followings_path(@user) %></p>
        <f>フォロー</f>
    </div>
    <div class="follower_table">
        <p><%= link_to @user.followers.count, user_followers_path(@user) %></p>
        <f>フォロワー</f>
    </div>
</div>

<div class="pro">プロフィール : <%= @user.profile %></div>
<div class="follow_button">
<% if current_user != @user %>
    <td><%= render "relationships/btn", user: @user, options: { class: ""} %></td>
<% else %>
    <%= link_to edit_user_registration_path, class: "btn btn-outline-secondary btn-block" do %>
    <i class="fa-solid fa-user-gear fa-1x" style="color:black;"></i>
    <% end %>
<% end %>
</div>

<br>
<h2>ユーザーの投稿一覧</h2>
<div class="usershizens-container">
    <% @user.shizens.each do |t| %>
        <div class="usershizen">
            <%= link_to shizen_path(t.id) do %> 
            <%= image_tag t.image.url,style: "border-radius: 0%; width: 150px; height: 200px; object-fit:cover;" if t.image? %>
            <% end %>
            <%= link_to t.spot_name, shizen_path(t.id) %>
            <%= t.ken %>
            <br>
            <%= link_to "グーグルマップ", t.maplink if t.maplink? %>
            <%= link_to t.user.name, user_path(t.user.id) %>
            <br>
            <%= t.setumei %>
            <br>
        </div>
    <% end %>
</div>


<h2>ユーザーがいいねした投稿一覧</h2>
<div class="usershizens-container">
<% @user.liked_shizens.each do |t| %>
    <div class="usershizen">
    <%= link_to shizen_path(t.id) do %> 
        <%= image_tag t.image.url,style: "border-radius: 0%; width: 150px; height: 200px; object-fit:cover;" if t.image? %>
    <% end %>
    <br>
    <%= link_to t.spot_name, shizen_path(t.id) %>
    <%= t.ken %>
    <br>
    <%= link_to "グーグルマップ", t.maplink if t.maplink?%>
    <%= link_to t.user.name, user_path(t.user.id) %>
    <br>
    <%= t.setumei %>
    <br>
    </div>
<% end %>
</div>

<% if current_user.id == @user.id %>
<%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
<% end %>

<%= link_to "投稿一覧に戻る", shizens_path %>